.breweryContainer {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  flex: 1;
  width: 100%;
  align-items: center;
}

.breweriesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

.breweryCardContainer {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 59.9%;
}

.button {
  text-align: center;
  margin: 10px;
}
