.breweryCardContainer {
    display: flex;
    flex-direction: column;
}

.header {
   display: flex;
   flex-direction: row;
   border: 1px solid black;
   width: 340px;
   height: 65px;
   justify-content: space-between;
}

.body {
   text-align: center;
   border: 1px solid black;
   height: 225px;
    width: 340px;
}

.breweryName {
   font-size: 15px;
   margin: 10px;
}

.breweryId {
   font-size: 15px;
   margin: 10px;
}

.breweryType{
   margin-top: 95px;
   font-size: 15px;
}

